<form action="/answer">
  <div class="form-group">
    <label for="entry">Is it a palindrome? Enter it here:</label>
    <input id="entry" name="entry" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Go</button>
</form>
